/* =-=-=-=-=-= /
- Add Poppins font from fonts.google.com
/ =-=-=-=-=-= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* =-=-=-=-=-= /
- Declare some important variable
/ =-=-=-=-=-= */
:root {
  --header-height: 3rem;

  /* =-= Font Weight  =-= */
  --regular: 400;
  --semi-bold: 500;
  --medium-bold: 600;
  --bold: 700;

  /*=-= Colors =-=*/
  --primary-color: #e02c6d;
  --secondary-color: #3a3a3a;
  --gray-color: #18191f;
  --light-gray: #787885;
  --footer-color: #0a0826;
  --white-color: #fff;
  --black-color: #000;

  /*=-= Font & Typography =-=*/
  --primary-font: "Poppins", sans-serif;
  --big-font-size: 3.25rem;
  --medium-font-size: 1.75rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
}

@media screen and (max-width: 767.98px) {
  :root {
    --big-font-size: 1.75rem;
    --medium-font-size: 1rem;
    --normal-font-size: 0.875rem;
    --small-font-size: 0.75rem;
  }
}
